body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    background-color: rgb(194, 194, 194);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input[type=text]{
    width: 100% ;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  
}

button{
    background-color: #008CBA;
    font-size: 12px;
    padding: 12px 28px;
    border: none;
    margin-left: 30px;
    
}